<nav id="nav">
  <ul class="nav__links">
    <li><a class="nav__link" href="{{ '/marketing' | relative_url }}">Marketing</a></li>
    <li><a class="nav__link" href="{{ '/vente' | relative_url }}">Vente</a></li>
    <li><a class="nav__link" href="{{ '/communication' | relative_url }}">Communication</a></li>
    <li><a class="nav__link" href="{{ '/business-developpement' | relative_url }}">Business Développement</a></li>
    <li><a class="nav__link" href="{{ '/management-relation-client' | relative_url }}">Management de la Relation Client</a></li>
  </ul>
</nav>
