<nav id="nav">
  <div class="nav__inner">
    <a class="nav__name" href="{{ '/' | relative_url }}">{{ site.data.profile.name }}</a>
    <button class="nav__burger" id="nav-burger" aria-label="Menu" aria-expanded="false" aria-controls="nav-links">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav__links" id="nav-links">
      <li><a class="nav__link" href="{{ '/marketing' | relative_url }}">Marketing</a></li>
      <li><a class="nav__link" href="{{ '/vente' | relative_url }}">Vente</a></li>
      <li><a class="nav__link" href="{{ '/communication' | relative_url }}">Communication</a></li>
      <li><a class="nav__link" href="{{ '/business-developpement' | relative_url }}">Business Développement</a></li>
      <li><a class="nav__link" href="{{ '/management-relation-client' | relative_url }}">Management de la Relation Client</a></li>
    </ul>
  </div>
</nav>
